html, body{
	background-image: url('whiteback.png');
}

/* Header of page "Christine Elizabeth O'Dea" *********************************************/
#name{
	font-family: 'Lobster', cursive;
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
}

/*Menu on top of page, resume, about me, other skills **************************************/
#menu{
	width: 45vw;
	margin: 0 auto;
	text-align: center;
}

.menubuttons{
	color: black;
	font-family: 'Lobster';
	font-size: 25px;
}

.menubuttons:hover{
	text-decoration: none;
	color: white;
	padding: 5px;
}

#resume{
	background-position: 0 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, red 50%); 
  	transition: background-position 0.5s ease-out 0s;
  	background-size: 202% auto;
}

#resume:hover{
	background-position: -98% 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, red 50%);
}

#aboutme{
	background-position: 0 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, yellow 50%);
  	transition: background-position 0.5s ease-out 0s;
  	background-size: 202% auto;
}

#aboutme:hover{
	background-position: -98% 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, yellow 50%);
}

#other{
	background-position: 0 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, purple 50%);
  	transition: background-position 0.5s ease-out 0s;
  	background-size: 203% auto;
}

#other:hover{
	background-position: -98% 0;
  	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, purple 50%);
}

/*Project buttons ********************************************************************/

#projectstitle{
	font-family: 'Lobster';
	font-size: 25px;
	position: absolute;
	left: 25vw;
}

.divs{
	position: absolute;
	text-align: center;
}

.divs:hover{
	color: black;
}

.photo{
	width: 20vw;	
	border-radius: 10px;
	border-color: black;
	border-width: 5px;
	border-style: double;
	margin: 20px 0 20px 0;
}

.titles{
	font-family: 'Lobster';
	font-size: 20px;
	color: black;
}

.desc{
	width: 200px;
	font-size: 15px;
	position: absolute;
	top: 50px;
	left:35px;
	font-weight: bold;
	color: black;
	cursor: pointer;
}

#calcdiv{
	top: 610px;
	left: 25vw;
}

#weatherdiv{
	top: 610px;
	right: 25vw;
}

#pomodorodiv{
	top: 935px;
	left: 25vw;
}

#wikidiv{
	top: 935px;
	right: 25vw;
}

#quotediv{
	top: 1240px;
	left: 25vw;
}

#ticdiv{
	top: 1240px;
	right: 25vw;
}

/*Picture *****************************************************************************/
#mepic{
	width: 300px;
	border-radius: 50%;
}

#picdiv{
	width: 300px;
	margin: 0 auto;
}

/*Top and bottom bars numerically titled by their position on the page top to bottom **/
#bar1{
	width: 40vw;
	border-color: black;
	border-style: solid;
}

#bar2{
	width: 55vw;
	border-color: black;
	border-style: solid;
}

/* Bottom Menu with email github and instagram icons*****************************************/
#bottom{
	position: absolute;
	top: 1550px;
	left: 10vw;
	width: 80vw;
}

#icons{
	width: 30vw;
	margin: 0 auto;
	text-align: center;
}

#insta{
	font-size: 40px;
	color: black;
	text-align: center;
}

#insta:hover{
	color: red;
}

#git{
	font-size: 40px;
	color: black;
	text-align: center;
}

#git:hover{
	color: green;
}

#email{
	font-size: 40px;
	color: black;
	text-align: center;
}

#email:hover{
	color: blue;
}

